


body{
    background-image: url("../../images/puppy.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.calendar th{
    text-align: center;
    border: 2px  black solid;
    width: 100px;
    background-color: powderblue;
}
.calendar .sat{

    color:blue;
}
.calendar .sun{
    color:red;
}
.calendar td{
    padding: 4px;
    border: 2px  black solid;
    height: 80px;
    background-color: white;
}
.calendar tr{
}
.calendar .title{
    vertical-align:middle;
    font:x-large bold;
    padding: 15px;
}

.calendar{
}